@model TeamsAndEmployees.Models.Employee

@{
    ViewBag.Title = "Delete Employee";
    ViewBag.Description = "Remove the employee from the database.";
}

<fieldset>
    <div class="form-group">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.FirstName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.FirstName)
        </div>
    </div>
    <div class="form-group">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.LastName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LastName)
        </div>
    </div>
    <div class="form-group">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DateOfBirth)
        </div>
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a href="@Url.Action("")">
            <i class="glyphicon glyphicon-arrow-left"></i>
            Back to List
        </a>
    </p>
}
