@model TeamsAndEmployees.Models.EditCreateTeamViewModel

@{
    ViewBag.Title = "Create Team";
    ViewBag.Description = "Create a new team.";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Team</legend>

        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <p>
            <input type="submit" value="Create" class="btn btn-default" />
        </p>
    </fieldset>
}

<div>
    <a href="@Url.Action("")">
        <i class="glyphicon glyphicon-arrow-left"></i>
        Back to List
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
